.footer {
    background-color: #222; 
    color: #fff;
    text-align: center;
    padding: 20px;
    font-size: 0.9rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.footer-left, .footer-rigth {
    text-align: center;
    display: flex;
    gap: 3rem;
}
.footer-left p,
.footer-rigth p {
    margin: 5px 0;
}
.footer-rigth span {
    font-weight: bold;
    color: #f3c611; 
}

