@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root{
    --primeira-cor: #f0f0f0;
    --segunda-cor: #131313;
}

*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    font-family: "Lato", sans-serif;
    font-weight: 500;
    font-style: normal;
    outline: none;
}
body{
    background-color: var(--primeira-cor);
    width: 100vw;
}
