/* Titulo */
.header{
    padding: 1rem 10rem 0 10rem;
    box-shadow: 0 0.5rem 0.8rem -1rem var(--segunda-cor);
}
.header-titulo{
    border-bottom: 3px solid #13131367;
    font-size: 50pt;
    padding-bottom: 2rem;
    text-align: center;
}

/* Menu */
.header nav{
    display: flex;
}
.header-menu{
    display: flex;
    gap: 1rem;
    margin: auto;
    padding: 1rem;
}
.header-menu li{
    border-right: 1px solid #13131367;
    padding: 0.5rem 0.5rem 0.5rem 0;
}
.header-menu li:last-child{
    border: none;
}
.header-menu a{
    color: var(--segunda-cor);
    font-size: 13pt;
    font-weight: 700;
}