@media (max-width: 1180px) {
  /* Sessão 5 */
  .sessao5-left img {
    width: 300px;
  }
  .sessao5-right {
    font-size: 20pt;
    width: 30rem;
  }

  /* sessão 4 */
  .sessao4-right img {
    width: 300px;
  }
  .sessao4-left {
    font-size: 20pt;
    width: 30rem;
  }
}
@media (max-width: 900px) {
  /* Header */
  .header {
    padding: 1rem 0;
  }
  .header-titulo {
    font-size: 40pt;
  }
  .header-menu {
    gap: 0.5rem;
  }
  .header-menu a {
    font-size: 10pt;
  }
  /* Sessão 2 */
  .sessao2-galeria {
    gap: 1rem;
    flex-wrap: wrap;
  }
  .sessao2-galeria img {
    width: 40%;
  }
  /* Sessão 3 */
  .sessao3 {
    padding: 4rem 2rem;
  }
  .sessao3 p {
    font-size: 15pt;
  }
  /* sessão 4 */
  .sessao4 {
    flex-direction: column;
    gap: 1rem;
  }
  .sessao4-left {
    font-size: 18pt;
  }
  /* Sessão 5 */
  .sessao5 {
    flex-direction: column-reverse;
    gap: 1rem;
  }
  .sessao5-right {
    padding: 0.3rem 2rem;
  }
}
