.sessao2{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 5rem 0;
    width: 100vw;
}
.sessao2 h1{
    color: var(--segunda-cor);
    padding: 1rem;
    font-size: 40pt;
}
.sessao2 h2{
    padding-bottom: 3rem;
}
.sessao2-galeria{
    display: flex;
    justify-content: space-around;
}
.sessao2-galeria img{
    width: 23%;
}